body {
  margin: auto;
  width: 900px;
  padding: 0px;
  border: 0px;
  background: #171616;
  color: #fffbf0;
}

main {
  overflow: auto;
}

/* Fuentes */
.bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.cardofont {
  font-family: 'Cardo', serif;
}

/* Color de todos los íconos */
.fa-user-secret, .fa-exchange-alt, .fa-copy, .fa-trash {
  color: #ffc000;
}

/* HEADER */
.header {
  height: 100%;
  text-align: center;
  overflow: auto;
  margin-bottom: 30px;
}

.title {
  font-size: 3em;
}

.lead {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1em;
}  

/* MAIN */ 

/* Cajas */
.bigbox {
  width: 50%;
  overflow: auto; 
  
}

.first-general {
  float: left;
}

.second-general {
  float: right;
}

.box {
  background: #fffbf0;
  width: 415px;
  height: 260px;
  border-radius: 5px;
  border: solid #ffc000;
  margin: auto;

}  

/* Íconos del main */
.icons {
  width: 100%;
  overflow: auto;
  padding-top: 10px;
  padding-right: 5px;
}

.litle-icon {
  border: none;
  outline: none;
  background: none;
  float: right;
  font-size: 20px;
}

/* Botones */
.buttons {
  margin-right: 2px;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: none;
  overflow: auto;
}
.label {
  font-size: 1.5em;
}

.number {
  height: 25px;
  width: 60px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 1.5em;
  box-shadow: none;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.button {
  width: 89px;
  height: 30px;
  background: #ffc000;
  border-radius: 5px;
  font-size: 0.8em;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.textarea {
  width: calc(100% - 5px);
  height: 200px;
  outline: none;
  border: none;
  background: #fffbf0;
  font-size: 1em;
}

/* FOOTER */
.footer {
  padding-top: 50px; 
  padding-left: 10%;
  padding-right: 10%;
  font-size: 0.7em;
  text-align: center;
}

/* RESPONSIVE */
@media only screen and (max-width:899px) {

  .title {
      font-size: 4.5em;
  }

  .lead {
      padding-left: 3%;
      padding-right: 3%;
      font-size: 1.9em;
  }  

  .first-general {
      float: none;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
  .second-general {
      float: none;
      width: 100%;;
  }

  .box {
  width: 700px;
  height: 450px;      
  }

  /* íconos */
  .litle-icon {
      float: right;
      font-size: 50px;
      padding-left:25px; 
  }

  .textarea {
      width: calc(100% - 5px);
      height: 200px;
      font-size: 2em;
  }

  .footer {
      padding-top: 100px; 
      padding-left: 10%;
      padding-right: 10%;
      font-size: 1.2em;
  } 
  
  .label, .number, .button {
      width: 150px;
      height: 50px;
      font-size: 25px;
  }
  
}
